---
const { logoSrc, userImgSrc } = Astro.props;
---
<nav class="fixed top-0 left-0 w-full bg-white bg-opacity-80 backdrop-blur-lg shadow-md z-50">
  <div class="container mx-auto flex justify-between items-center px-6 py-4">
    <!-- Logo a la izquierda -->
    <div class="text-4xl font-typewriter text-[#09008A]">
      &lt; Iván Sánchez /&gt;
    </div>

    <!-- Opciones del menú a la derecha -->
    <ul class="flex space-x-6 font-roboto text-[#09008A] text-lg">
      <li>
        <a
          href="#home"
          class="hover:font-bold transition-all duration-300"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="#studies"
          class="hover:font-bold transition-all duration-300"
        >
          Education
        </a>
      </li>
      <li>
        <a
          href="#experience"
          class="hover:font-bold transition-all duration-300"
        >
          Experience
        </a>
      </li>
      <li>
        <a
          href="#skills"
          class="hover:font-bold transition-all duration-300"
        >
          Skills
        </a>
      </li>
      <li>
        <a
          href="#projects"
          class="hover:font-bold transition-all duration-300"
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href="#contact"
          class="hover:font-bold transition-all duration-300"
        >
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
